<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'clinicapp/img/favicon.ico' %}"
    />
    <title>Danteclinic - Add Doctor</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'clinicapp/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'clinicapp/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'clinicapp/css/select2.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'clinicapp/css/bootstrap-datetimepicker.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'clinicapp/css/style.css' %}"
    />
    <!--[if lt IE 9]>
      <script src="{% static 'clinicapp/js/html5shiv.min.js' %}"></script>
      <script src="{% static 'clinicapp/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main-wrapper">
      <div class="header">
        <div class="header-left">
          <a href="{% url 'home' %}" class="logo">
            <img
              src="{% static 'clinicapp/img/logo.png' %}"
              width="35"
              height="35"
              alt="Logo"
            />
            <span>Danteclinic</span>
          </a>
        </div>
      </div>
      <div class="sidebar" id="sidebar">
        <!-- Sidebar content here -->
      </div>
      <div class="page-wrapper">
        <div class="content">
          {% if messages %}
          <div
            class="alert alert-success alert-dismissible fade show col-lg-8 offset-lg-2"
            role="alert"
          >
            {% for message in messages %} {{ message }} {% endfor %}
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %} {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
